.HitList{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    column-gap: 5%;
    row-gap: 70px;
}
@media (max-width:768px){
    .HitList{
        column-gap: 2%;
        row-gap: 20px;
    
    }   
}