.HitList{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    column-gap: 5%;
    row-gap: 70px;
    -webkit-user-drag:element;
}
@media (max-width:885px){
    .HitList{
        column-gap: 3%;
        row-gap: 32px;
    
    }   
}
